.w{
    --templateColumns:1fr;
    --templateRows:none;
    --autoColumns:1fr;
    --autoRows:1fr;
    --gap:20px;
    display:grid;
    width:100%;
    grid-template-columns:var(--templateColumns);
    grid-template-rows:var(--templateRows);
    grid-auto-columns:var(--autoColumns);
    grid-auto-rows:var(--autoRows);
    grid-auto-flow:row;
    grid-gap:var(--gap)
}

@media (max-width: 780px) {
    .w {
        display:grid;
        grid-template-columns: 1fr;
        grid-gap: 20px
    }
}