.w {
    position: absolute
}

.target {
    display: flex;
    justify-content: center;
    align-items: center
}

.target>div {
    position: absolute;
    opacity: .4;
    border-radius: 3000px;
    background-position: 50%;
    border: 2px solid #404040
}