.VariantBlock {
    position: relative;
    width: 350px;
    cursor: default;
    border: 1px solid var(--textColor);
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 20px;
    background: #fff
}

.block {
    display: flex;
    flex-direction: row;
    align-items: center
}

.block img {
    width: 70px;
    height: 70px
}

.main {
    width: 100%;
    overflow: hidden;
    word-wrap: break-word
}

.mainTitle {
    display: flex;
    align-items: center;
    color: var(--becColor);
    font-size: 15px
}

.mainContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    white-space: pre-wrap
}

.blurDiv,.inspectorDiv {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: hsla(0,0%,100%,.4)
}

.inspectorDiv {
    display: flex;
    justify-content: center;
    align-items: center
}

.settingBtn {
    border: 1px solid var(--textColor);
    border-radius: 5px;
    padding: 5px 10px;
    color: var(--linkColor);
    cursor: pointer
}

.btnHashTagIntent {
    color: var(--mainBlueLight);
    cursor: pointer
}